<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Members</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
.style1 {
  margin-right: 0px;
}
.style2 {
  font-family: Arial, Helvetica, sans-serif;
}
.style3 {
  font-family: Arial;
}
.style5 {
  text-align: center;
}
.style6 {
  font-size: large;
}
</style>
</head>

<body bgcolor="#000000" text="#CCCCCC">
<table width="800" border="0" height="2713">
  <tr> 
    <td valign="middle" height="105"> 
      <p>&nbsp;</p>
      <p><font face="Arial, Helvetica, sans-serif"><b><font size="5">The A-Feps</font></b></font></p>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr> 
    <td height="2600">
      <table width="791" border="0" cellpadding="15">
        <tr> 
          <td width="176"> 
            <table width="100%" border="0">
              <tr> 
                <td width="31%" class="class-font"> 
                  <div align="left" class="class-font">
                    Charter Class
                  </div>
                </td>
              </tr>
              <tr> 
                <td width="31%"><b><font face="Arial, Helvetica, sans-serif">The 
                  Bern</font></b></td>
              </tr>
              <tr> 
                <td width="31%"><b><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/dan2.gif", :style => "width: 30px; height: 15px;" %></b></td>
              </tr>
              <tr> 
                <td width="31%"><b><font face="Arial, Helvetica, sans-serif">Butts</font></b></td>
              </tr>
              <tr> 
                <td width="31%" height="22"><b>
                <font face="Arial, Helvetica, sans-serif">Giese</font></b></td>
              </tr>
              <tr> 
                <td width="31%"><b><font face="Arial, Helvetica, sans-serif">B</font></b></td>
              </tr>
              <tr> 
                <td width="31%"><b><font face="Arial, Helvetica, sans-serif">G</font></b></td>
              </tr>
              <tr> 
                <td width="31%"><b><font face="Arial, Helvetica, sans-serif">Bond</font></b></td>
              </tr>
            </table>
          </td>
          <td width="605"><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/charter-afeps.jpg", :style => "width: 472px; height: 348px;" %></td>
        </tr>
        <tr> 
          <td width="176"> 
            <table width="100%" border="0">
              <tr> 
                <td width="32%" class="class-font"> 
                  <div align="left" class="class-font">
                    Alpha Class
                  </div>
                </td>
              </tr>
              <tr> 
                <td width="32%"><b><font face="Arial, Helvetica, sans-serif">Polka</font></b></td>
              </tr>
              <tr> 
                <td width="32%"><b><font face="Arial, Helvetica, sans-serif">Chuck</font></b></td>
              </tr>
              <tr> 
                <td width="32%"><b><font face="Arial, Helvetica, sans-serif">Hops</font></b></td>
              </tr>
              <tr> 
                <td width="32%"><b><font face="Arial, Helvetica, sans-serif">Boris</font></b></td>
              </tr>
              <tr> 
                <td width="32%"><b><font face="Arial, Helvetica, sans-serif">McIvey</font></b></td>
              </tr>
              <tr> 
                <td width="32%"><b><font face="Arial, Helvetica, sans-serif">Silent 
                  K</font></b></td>
              </tr>
              <tr> 
                <td width="32%"><b><font face="Arial, Helvetica, sans-serif">Farmer 
                  Rob</font></b></td>
              </tr>
            </table>
          </td>
          <td width="605"><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/alpha-afeps.jpg", :style => "width: 300px height: 381px;" %></td>
        </tr>
        <tr> 
          <td width="176"> 
            <table width="100%" border="0">
              <tr> 
                <td width="37%" class="class-font"> 
                  Beta Class
                </td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Halbert</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">37</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif"> 
                  Q</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Garrrrrrrrrza</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">El 
                  Barr</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Morning 
                  Glory</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Clonts</font></b></td>
              </tr>
            </table>
          </td>
          <td width="605"><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/beta-afeps.jpg", :style => "width: 350px; height: 243px;" %></td>
        </tr>
        <tr>
          <td width="176">
            <table width="100%" border="0">
              <tr> 
                <td width="37%"> 
                  <div align="left">
                  <div align="left">
                    <p align="center" style="margin-top: 0; margin-bottom: 0" class="class-font">
                      Gamma Class
                    </p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Sergei</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">38</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif"> 
                  Rowdy</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Guy</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Mr.
                  T </font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Bennie 
                  &quot;the Mouse&quot;</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">The 
                  Salva'ge</font></b></td>
              </tr>
            </table>
          </td>
          <td width="605"> 
            <p align="center"><font face="Arial, Helvetica, sans-serif" size="2"><br>
              </font><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/small%20gamma.jpg", :style => "width: 397px; height: 291px;" %></p>
          </td>
        </tr>
        <tr>
          <td width="176">
            <table width="100%" border="0" height="191">
              <tr> 
                <td width="37%" height="52" class="class-font"> 
                  <div align="left" class="class-font">
                    Delta Class
                  </div>
                </td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif">Straylight</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif">39</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b><font face="Arial">Taxman</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif">Jambalaya</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif">Abby</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="11"><b>
                <font face="Arial, Helvetica, sans-serif">Leon</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif">DK</font></b></td>
              </tr>
            </table>
          </td>
          <td width="605"> 
            <p align="center"><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/small%20delta.jpg", :style => "width: 358px; height: 281px;" %></p>
            <p align="center">&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="176">
            <table width="100%" border="0">
              <tr> 
                <td width="37%"> 
                  <div align="left">
                  <div align="left">
                    <p align="center" style="margin-top: 0; margin-bottom: 0" class="class-font">
                    Epsilon Class 
                    </p>
                  </div>
                  </div>
                </td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Conroe</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">Whispy</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">
        Yankee</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">
        Postman</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">39.5</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial">Bronze</font></b></td>
              </tr>
              <tr> 
                <td width="37%"><b><font face="Arial, Helvetica, sans-serif">One
                  Ton</font></b></td>
              </tr>
            </table>
          </td>
          <td width="605"> 
            <%= image_tag "https://s3-us-west-2.amazonaws.com/afep/epsilon%20class.jpg", :style => "width: 475px; height: 355px;" %></td>
        </tr>
        <tr>
          <td width="176">
            <table width="100%" border="0" height="201">
              <tr> 
                <td width="37%" height="67" class="class-font"> 
                  Fepsilon Class</td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif"><font face="Arial">Half Ton</font></font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif">Jack</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif">Horse Man</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16" class="style2"><strong>40</strong></td>
              </tr>
              <tr> 
                <td width="37%" height="16"><b>
                <font face="Arial, Helvetica, sans-serif">Da Vinci</font></b></td>
              </tr>
              <tr> 
                <td width="37%" height="16" class="style2"><strong>Oz</strong></td>
              </tr>
              <tr> 
                <td width="37%" height="6" class="style2"><strong>Iron Cross</strong></td>
              </tr>
            </table>
          </td>
          <td width="605"> 
            <p align="center">
      <%= image_tag "https://s3-us-west-2.amazonaws.com/afep/charter-fepsilons.JPG", :style => "width: 353px; height: 333px;"%></td>
        </tr>
    <tr>
          <td width="176">
      <table border="0" height="201" style="width: 87%" class="style1">
            <tr>
              <td width="37%" height="67" class="class-font">Alpha-Alpha Class</td>
            </tr>
            <tr>
              <td width="37%" height="16"><b> <font face="Arial, Helvetica, sans-serif">Stepchild</font></b></td>
            </tr>
            <tr>
              <td width="37%" height="16"><b> 
        <font face="Arial, Helvetica, sans-serif">Johann</font></b></td>
            </tr>
            <tr>
              <td width="37%" height="16"><b><font face="Arial"> <font face="Arial, Helvetica, sans-serif">Poncho</font></font></b></td>
            </tr>
            <tr>
              <td width="37%" height="16"><b> <font face="Arial, Helvetica, sans-serif">Quarter Pound</font></b></td>
            </tr>
            <tr>
              <td width="37%" height="16"><b><font face="Arial">Sandman</font></b></td>
            </tr>
            <tr>
              <td width="37%" height="16"><b> <font face="Arial, Helvetica, sans-serif">40.5</font></b></td>
            </tr>
            <tr>
              <td width="37%" height="6"><b> <font face="Arial, Helvetica, sans-serif">Butters</font></b></td>
            </tr>
          </table></td>
          <td width="605"> 
            <p align="left">
      <%= image_tag "https://s3-us-west-2.amazonaws.com/afep/Alpha%20Charter2.JPG", :style => "width: 460px; height: 309px;"%></td>
        </tr>
        <tr>
          <td width="176">
            <table width="100%" border="0" height="201">
              <tr> 
                <td height="67" style="width: 64%" class="class-font"> 
                  Alpha-Beta Class</td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><b>
        <font face="Arial, Helvetica, sans-serif">Juno</font></b></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><b>
        <font face="Arial, Helvetica, sans-serif">Hillary</font></b></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><b>
        <font face="Arial, Helvetica, sans-serif">Patch</font></b></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><b>
        <font face="Arial, Helvetica, sans-serif">8-Ounce</font></b></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><b><font face="Arial">
        Metroman</font></b></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><b>
        <font face="Arial, Helvetica, sans-serif">41</font></b></td>
              </tr>
              <tr> 
                <td height="6" style="width: 64%"><b>
        <font face="Arial, Helvetica, sans-serif">Left Ear</font></b></td>
              </tr>
            </table>
          </td>
          <td width="605"> 
            <%= image_tag "https://s3-us-west-2.amazonaws.com/afep/alphabeta-afeps1.jpg", :style => "width: 428px; height: 286px;"%></td>
        </tr>
        <tr>
          <td width="176">
            <table width="100%" border="0" height="201">
              <tr> 
                <td width="37%" height="67" class="class-font"> 
                  Alpha-Gamma Class</td>
              </tr>
              <tr> 
                <td width="37%" height="16" class="style2"><strong>Kilo</strong></td>
              </tr>
              <tr> 
                <td width="37%" height="16" class="style2"><strong>Francois</strong></td>
              </tr>
              <tr> 
                <td width="37%" height="16" class="style3"><strong>Razor</strong></td>
              </tr>
              <tr> 
                <td width="37%" height="16" class="style2"><strong>Iceman</strong></td>
              </tr>
              <tr> 
                <td width="37%" height="16" class="style2"><strong>Fergie</strong></td>
              </tr>
              <tr> 
                <td width="37%" height="16" class="style2"><strong>41.5</strong></td>
              </tr>
              <tr> 
                <td width="37%" height="6" class="style2"><strong>Fitch</strong></td>
              </tr>
            </table>
          </td>
          <td width="605"> 
            <%= image_tag "https://s3-us-west-2.amazonaws.com/afep/alphagammas.jpg", :style => "width: 510px; height: 347px;"%></td>
        </tr>
        <tr>
          <td width="176">
            <table width="100%" border="0" height="201">
              <tr> 
                <td height="67" style="width: 64%" class="class-font"> 
                  Alpha-Delta Class</td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><strong>Mark</strong></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><strong>Sandstorm </strong></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><strong>Newton</strong></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><strong>Quick Silver</strong></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><strong>Showman</strong></td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%"><strong>Gandhi</strong></td>
              </tr>
              <tr> 
                <td height="6" style="width: 64%"><strong>Mary Kate</strong></td>
              </tr>
            </table>
          </td>
          <td width="605" class="style5"> 
            <%= image_tag "https://s3-us-west-2.amazonaws.com/afep/AlphaDeltaPic.jpg" %></td>
        </tr>
        <tr>
          <td width="176"><table width="100%" border="0" height="201">
              <tr> 
                <td height="67" style="width: 64%" class="class-font">Alpha-Epsilon Class</td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%">King Koopa </td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%">St. Pius</td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%">Heisman</td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%">Dust Devil</td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%">Venus</td>
              </tr>
              <tr> 
                <td height="16" style="width: 64%">Hertz</td>
              </tr>
              <tr> 
                <td height="6" style="width: 64%">Small Blind</td>
              </tr>
            </table>
          </td>
          <td width="605" class="style5"><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/alpha_epsilon_class_pic.jpg", :style => "width: 456px; height: 342px;"%><br></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="791" border="0" cellpadding="15">
  <tr>
    <td width="176"><table width="100%" border="0" height="201">
      <tr>
        <td height="67" style="width: 64%" class="class-font">Alpha-Fepsilon Class</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Joe Dirt</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Eleanor</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Haboob</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Baggins</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Slug</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Big Blind</td>
      </tr>
      <tr>
        <td height="6" style="width: 64%">Anchorman</td>
      </tr>
    </table></td>
    <td width="605" class="style5"><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/alpha-fepsilon.jpeg", :style => "width: 442px; height: 319px;" %><br>
  </tr>
</table>
<table width="791" border="0" cellpadding="15">
  <tr>
    <td width="176"><table width="100%" border="0" height="201">
      <tr>
        <td height="67" style="width: 64%" class="class-font">Beta-Alpha Class</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Red Rocket</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Flop</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Churchill</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Tempest</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Bird Man</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Ester</td>
      </tr>
      <tr>
        <td height="6" style="width: 64%">Kip</td>
      </tr>
    </table></td>
    <td width="605" class="style5"><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/beta-alpha.jpg", :style => "width: 442px; height: 319px;" %><br>
  </tr>
</table>
<table width="791" border="0" cellpadding="15">
  <tr>
    <td width="176"><table width="100%" border="0" height="201">
      <tr>
        <td height="67" style="width: 64%" class="class-font">Beta-Beta Pledge Class</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Fathom</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Athena</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Burn Card</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Squall</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Punk Head</td>
      </tr>
      <tr>
        <td height="16" style="width: 64%">Stunt Man</td>
      </tr>
      <tr>
        <td height="6" style="width: 64%">Old Hickory</td>
      </tr>
    </table></td>
    <td width="605" class="style5"><%= image_tag "https://s3-us-west-2.amazonaws.com/afep/fuck.jpg", :style => "width: 442px; height: 319px;" %><br>
      <span class="style6"><strong>Survival is your only concern right now.</strong></span></td>
  </tr>
</table>
</body>
</html>
<tr>
          <td width="176"></td>
          <td width="605"> 
</html>